name: CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  # Trigger on tags
  push:
    tags:
      - 'v*.*.*'

jobs:
  # Job to check code and run tests
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'
        env:
          GO111MODULE: on

      - name: Run tests
        run: |
          go test -race -v ./...

  # Job to build and publish Docker image
  publish:
    name: Publish Docker Image
    runs-on: ubuntu-latest
    # This job will only run when a tag is pushed
    if: github.event_name == 'push' && github.ref_type == 'tag'
    needs: test
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract metadata (tags, labels)
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ secrets.DOCKERHUB_USERNAME }}/final-main
          tags: type=schedule
          tags: type=ref,event=branch
          tags: type=semver,pattern={{version}}
          tags: type=semver,pattern={{major}}.{{minor}}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}